{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>HOLO</title>
	<link rel="stylesheet" href='{% static "css/indexstyle.css"%}'>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type = "text/javascript" src = '{% static "jquery/lib/jquery.js" %}'></script>
	<script type = "text/javascript" src = '{% static "jquery/lib/jquery.bgiframe.min.js" %}'></script>
	<script type = "text/javascript" src = '{% static "jquery/lib/jquery.ajaxQueue.js" %}'></script>
	<script type = "text/javascript" src = '{% static "jquery/jquery.autocomplete.js" %}'></script>
	<link rel ="stylesheet" type = "text/css" href = '{% static "jquery/jquery.autocomplete.css" %}'/>
	<style type="text/css">
        body{

        }
		.cliniclist .reallist .ui-selecting { 
			background: pink; 
		}
		.cliniclist .reallist .ui-selected {
			background: hotpink;
		}
		.cliniclist .reallist {
			
			list-style-type: none; 
			margin-top: 50px;
			padding: 0;
			width: 700px; 
		}
		.cliniclist .reallist li {

			font-size: 10px; 
			padding: .5em; 
		}

	</style>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<script>

  
            var geocoder;//
            var map;//
            
            function getLocation(){//좌표 자동 생성
                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(initialize);
                }else{
                    alert("Not Support Browser");
                }
            }        
        
            function initialize(position){            
                geocoder = new google.maps.Geocoder();
                var mapOption = {
                    center:new google.maps.LatLng(position.coords.latitude,position.coords.longitude),
                    zoom:15,
                    mapTypeId:google.maps.MapTypeId.ROADMAP
                };
                map=new google.maps.Map(document.getElementById("google_map"),mapOption);
            }
            google.maps.event.addDomListener(window, 'load', getLocation);
            
            function codeAddress1() {
            	var detailinfo1 = document.getElementById("detailinfo1-1").value;

            	var detailinfo2 = document.getElementById("detailinfo1-2").value;

            	var detailinfo3 = document.getElementById("detailinfo1-3").value;
                var detailinfo4 = document.getElementById("detailinfo1-4").value;

                var detailinfo5 = document.getElementById("detailinfo1-5").value;

            	var address = document.getElementById('address1').value;   

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});

                         
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });

                        marker.addListener('click', function() {
				  		infowindow.open(map, marker);
				 		});
				 	document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                    document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
 
               

            }

             function codeAddress2() {
             	var detailinfo1 = document.getElementById("detailinfo2-1").value;

            	var detailinfo2 = document.getElementById("detailinfo2-2").value;

            	var detailinfo3 = document.getElementById("detailinfo2-3").value;

                var detailinfo4 = document.getElementById("detailinfo2-4").value;

                var detailinfo5 = document.getElementById("detailinfo2-5").value;
            	 var address = document.getElementById('address2').value;   

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                        
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });

                        marker.addListener('click', function() {
				  		infowindow.open(map, marker);
				 		});
				 	document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                     document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
                    marker.addListener('click', function() {
				  	infowindow.open(map, marker);
				 });
            }

 			function codeAddress3() {
 				var detailinfo1 = document.getElementById("detailinfo3-1").value;

            	var detailinfo2 = document.getElementById("detailinfo3-2").value;

            	var detailinfo3 = document.getElementById("detailinfo3-3").value;

                var detailinfo4 = document.getElementById("detailinfo3-4").value;

                var detailinfo5 = document.getElementById("detailinfo3-5").value;

            	var address = document.getElementById('address3').value;  

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                          
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
	                    marker.addListener('click', function() {
					  	infowindow.open(map, marker);

				 });
	                document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                     document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
                
            }
             function codeAddress4() {
             	var detailinfo1 = document.getElementById("detailinfo4-1").value;

            	var detailinfo2 = document.getElementById("detailinfo4-2").value;

            	var detailinfo3 = document.getElementById("detailinfo4-3").value;

                var detailinfo4 = document.getElementById("detailinfo4-4").value;

                var detailinfo5 = document.getElementById("detailinfo4-5").value;

            	 var address = document.getElementById('address4').value;   

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                        
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                        marker.addListener('click', function() {
				  		infowindow.open(map, marker);
				 });
                    document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                     document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
             
            }

             function codeAddress5() {
             	var detailinfo1 = document.getElementById("detailinfo5-1").value;

            	var detailinfo2 = document.getElementById("detailinfo5-2").value;

            	var detailinfo3 = document.getElementById("detailinfo5-3").value;

                var detailinfo4 = document.getElementById("detailinfo5-4").value;

                var detailinfo5 = document.getElementById("detailinfo5-5").value;

            	var address = document.getElementById('address5').value; 

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                

                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    marker.addListener('click', function() {
				  	infowindow.open(map, marker);
				 });
                    document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                     document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

 			function codeAddress6() {
 				var detailinfo1 = document.getElementById("detailinfo6-1").value;

            	var detailinfo2 = document.getElementById("detailinfo6-2").value;

            	var detailinfo3 = document.getElementById("detailinfo6-3").value;

                var detailinfo4 = document.getElementById("detailinfo6-4").value;

                var detailinfo5 = document.getElementById("detailinfo6-5").value;

            	var address = document.getElementById('address6').value; 

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                           
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    marker.addListener('click', function() {
				  	infowindow.open(map, marker);
				 });
                    document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                     document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
             function codeAddress7() {
             	var detailinfo1 = document.getElementById("detailinfo7-1").value;

            	var detailinfo2 = document.getElementById("detailinfo7-2").value;

            	var detailinfo3 = document.getElementById("detailinfo7-3").value;

                var detailinfo4 = document.getElementById("detailinfo7-4").value;

                var detailinfo5 = document.getElementById("detailinfo7-5").value;

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var address = document.getElementById('address7').value;

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                            
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });

                    marker.addListener('click', function() {
				  	infowindow.open(map, marker);
				 });
                    document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                     document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

             function codeAddress8() {
             	var detailinfo1 = document.getElementById("detailinfo8-1").value;

            	var detailinfo2 = document.getElementById("detailinfo8-2").value;

            	var detailinfo3 = document.getElementById("detailinfo8-3").value;

                var detailinfo4 = document.getElementById("detailinfo8-4").value;

                var detailinfo5 = document.getElementById("detailinfo8-5").value;

            	var address = document.getElementById('address8').value; 

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                           
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    marker.addListener('click', function() {
				  	infowindow.open(map, marker);
				 });
                    document.getElementById('cname').innerHTML = address
				 	document.getElementById('title').innerHTML = detailinfo1
				 	document.getElementById('content').innerHTML = detailinfo2
				 	document.getElementById('subcontent').innerHTML = detailinfo3
                     document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

 			function codeAddress9() {
 				var detailinfo1 = document.getElementById("detailinfo9-1").value;

            	var detailinfo2 = document.getElementById("detailinfo9-2").value;

            	var detailinfo3 = document.getElementById("detailinfo9-3").value;

                var detailinfo4 = document.getElementById("detailinfo9-4").value;

                var detailinfo5 = document.getElementById("detailinfo9-5").value;
            	 var address = document.getElementById('address9').value;  

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                         
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    marker.addListener('click', function() {
				  	infowindow.open(map, marker);
				 });
                    document.getElementById('cname').innerHTML = address
				 		document.getElementById('title').innerHTML = detailinfo1
				 		document.getElementById('content').innerHTML = detailinfo2
				 		document.getElementById('subcontent').innerHTML = detailinfo3
                         document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
            function codeAddress10() {
            	var detailinfo1 = document.getElementById("detailinfo10-1").value;

            	var detailinfo2 = document.getElementById("detailinfo10-2").value;

            	var detailinfo3 = document.getElementById("detailinfo10-3").value;

                var detailinfo4 = document.getElementById("detailinfo10-4").value;

                var detailinfo5 = document.getElementById("detailinfo10-5").value;

            	var address = document.getElementById('address10').value;    

            	var contentString = '<h2>' + address+'</h2>'+detailinfo1+'<br>'+detailinfo2+'<br>'+detailinfo3

            	var infowindow = new google.maps.InfoWindow({
    			content: contentString
  				});
                        
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    marker.addListener('click', function() {
				  	infowindow.open(map, marker);
				 });
                    document.getElementById('cname').innerHTML = address
				 		document.getElementById('title').innerHTML = detailinfo1
				 		document.getElementById('content').innerHTML = detailinfo2
				 		document.getElementById('subcontent').innerHTML = detailinfo3
                         document.getElementById('subcontent1').innerHTML = detailinfo4
                    document.getElementById('subcontent2').innerHTML = detailinfo5

                    
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
		</script>

</head>
	<body>
		<script>
				var availableTags =[
					'중이염', 
					'급성심근경색', 
					'골수이식', 
					'간암', 
					'위암', 
					'제왕절개', 
					'관상동맥우회술', 
					'당뇨병', 
					'유방암', 
					'폐암', 
					'천식', 
					'폐렴', 
					'고혈압', 
					'혈액투석', 
					'고관절치환술', 
					'췌장암', 
					'식도암'
				];
			</script>
		<script>
				$(document).ready(function() {
					$("#search").autocomplete(availableTags,{
						matchContains: true,
						selectFirst: false
						
					});
				});
			</script>
            <form action = "/search" name = "searching" method = "post">
                {% csrf_token %} 
            <div class="container-3">
                    <input type="search" id="search" placeholder="" name ="lo1"/>
                    <input type="search" id="search" placeholder="" name ="lo2"/>
                    <input type="search" id="search" placeholder="" name ="lo3"/>
                    <br>
                    <br>
                    <button class="button2" type = "submit">Search</button>
                </div>
            </form>
		<div class = "cliniclist" id = "panel"  style="overflow:scroll;">
			
			<ul class="reallist">
			{% if lists %}
			{% for list in lists %}
			{% if list.index == 1%}
			<input type = "textbox" style = "display:none;" id = "detailinfo1-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo1-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo1-3" name = "name" value="{{list.detailinfo3}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo1-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo1-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address1" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress1()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}


			{% if lists %}
			{% for list in lists %}
			{% if list.index == 2%}
			<input type = "textbox" style = "display:none;" id = "detailinfo2-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo2-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo2-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo2-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo2-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address2" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress2()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}

			{% if lists %}
			{% for list in lists %}
			{% if list.index == 3%}
			<input type = "textbox" style = "display:none;" id = "detailinfo3-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo3-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo3-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo3-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo3-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address3" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress3()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% if lists %}
			{% for list in lists %}
			{% if list.index == 4%}
			<input type = "textbox" style = "display:none;" id = "detailinfo4-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo4-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo4-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo4-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo4-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address4" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress4()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}


			{% if lists %}
			{% for list in lists %}
			{% if list.index == 5%}
			<input type = "textbox" style = "display:none;" id = "detailinfo5-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo5-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo5-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo5-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo5-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address5" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress5()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}

			{% if lists %}
			{% for list in lists %}
			{% if list.index == 6%}
			<input type = "textbox" style = "display:none;" id = "detailinfo6-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo6-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo6-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo6-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo6-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address6" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress6()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% if lists %}
			{% for list in lists %}
			{% if list.index == 7%}
			<input type = "textbox" style = "display:none;" id = "detailinfo7-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo7-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo7-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo7-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo7-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address7" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress7()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}


			{% if lists %}
			{% for list in lists %}
			{% if list.index == 8%}
			<input type = "textbox" style = "display:none;" id = "detailinfo8-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo8-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo8-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo8-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo8-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address8" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress8()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}

			{% if lists %}
			{% for list in lists %}
			{% if list.index == 9%}
			<input type = "textbox" style = "display:none;" id = "detailinfo9-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo9-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo9-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo9-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo9-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address9" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress9()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% if lists %}
			{% for list in lists %}
			{% if list.index == 10%}
			<input type = "textbox" style = "display:none;" id = "detailinfo10-1" name = "name" value="{{list.detailinfo1}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo10-2" name = "name" value="{{list.detailinfo2}}">
			<input type = "textbox" style = "display:none;" id = "detailinfo10-3" name = "name" value="{{list.detailinfo3}}">
             <input type = "textbox" style = "display:none;" id = "detailinfo10-4" name = "name" value="{{list.detailinfo4}}">
            <input type = "textbox" style = "display:none;" id = "detailinfo10-5" name = "name" value="{{list.detailinfo5}}">
			<input type = "textbox" style = "display:none;" id = "address10" name = "name" value="{{list.name}}">
			 <li class="ui-widget-content"><input class = button1 type="button" value="{{list.name}}" onclick="codeAddress10()" ></li>
			{% endif %}
			{% endfor %}
			{% endif %}

			</ul>

		</div>
		<script>
			$(function() {
			  $( ".reallist" )
			    .selectable()
			    .on("selectablestop", function() {
			      var my_clinics = [];
			      $('.reallist .ui-selected').each(function() {
			        my_clinics.push( $(this).data('value') );
			      });
			      console.log( my_clinics );
			    });
			});
		</script>
		<div id="google_map" ></div>

	<div class = "etc">
		<h2 id="cname"></h2>
		<h3 id = 'title'></h3>
        <p id = "content"></p>
		<p id = 'subcontent'></p>
        <p id = 'subcontent1'></p>
        <p id = 'subcontent2'></p>

	</div>
	</body>
</html>


